@import '~bootstrap/scss/bootstrap';

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.auth {
  align-content: center;
  text-align: center;
}

.registration {
  align-content: center;
  text-align: center;
}

.home {
  margin: 20px;

  &__board-selector {
    width: 40%;
  }

  &__add-board {
    margin-left: 5px;
  }

  &__board {
    width: 100%;
  }
}

.board {
  &__add-column {
    margin-bottom: 10px;
  }

  &__columns-container {
    overflow-x: auto;
    flex-wrap: nowrap;
  }
}

.column {
  height: calc(100vh - 190px);
  min-width: 25%;
  max-width: 25%;

  &__add-task {
    margin: 5px;
  }
}
